.ingredients {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	font-family: arial;
}
.instructions {
	width: 50%;
	margin: 0 auto;
	font-family: arial;
	text-align: center;
}
body {
	background-color: #FEFBF2;
}
.title {
	font-family: 'UnifrakturCook', cursive;
	text-align: center;
}